* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #0e0e0e;
}

body::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100rem;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body,
a,
input,
button {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
