#hero {
  display: flex;
  flex-direction: column;
  gap: 11rem;
}

#columns {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  margin-top: 10.5rem;
}

#columns > .col {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
}

#columns > .col > p {
  font-size: 1.8rem;
  line-height: 160%;
}

#images-circle {
  display: flex;
  align-content: flex-end;
  height: 8.6rem;
  padding-bottom: 0.4rem;
}

#images-circle .images {
  position: relative;
  width: 40%;
}

.images img {
  position: absolute;
  top: 0;
}

.images img:nth-child(1) {
  left: 0;
  z-index: 4;
}

.images img:nth-child(2) {
  left: 2rem;
  z-index: 3;
}

.images img:nth-child(3) {
  left: 4rem;
  z-index: 2;
}

.images img:nth-child(4) {
  left: 6rem;
}

#images-circle > p {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-weight: 700;

  & > span {
    font-weight: 400;
  }
}

#columns > .col > h1 {
  font-size: 5rem;
  & > span {
    color: #ff5b50;
  }
}

#gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 1.6rem;
}

#gallery > img {
  width: 100%;
}
